body{
    padding: 0px;
    background-color: rgb(111, 151, 111);
}

.list {
    background-color: #eeefea;
    width: 40%;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 2px solid #161616;
	  border-radius: 6px;
	  margin-top: 3%;
  }

  .documentation {
    background-color: #eeefea;
    width: 80%;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #161616;
	  border-radius: 6px;
	  margin-top: 3%;
  }

  .options {
    text-align: left;
    padding: 0% 8%;
    color: #161616;
  }

  .button{
	background-color: #eeefea;
	font-size: 12px;
	font-family: "Charter";
	display: inline-block;
	color: rgb(0, 0, 0);
	padding: 8px 18px;
	text-align: center;
	border-radius: 6px;
	border-color: #161616;
  }

h1, p, form, li {
	font-family: "Charter";
	}
	
li {
	text-align: left;
	margin-left: 5%;
	}


.imgCRC {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  }

.imgUML {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

figcaption {
  text-align: center;
}
