<!DOCTYPE HTML>

<html>
	<head>
		<title> Homepage </title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'style.css')}}">
	</head>

	<body>
		<div class="container"> <!--CONTAINER-->
			<div class="left1 lefttext"> <!--LFET1-->
				<h1> Homepage </h1>
				<p style="padding-left: 10px; padding-right: 10px;">
					The application developed is capable of reading a dataset containing information about the genome. The data taken
					as input is represented in a particular file format named ".GFF3". The information read by the software can be processed 
					in different operations that aim to analyze the data and to access it for specific purposes.
					<br> <br> The final appearance of the software, from a user’s point of view, is a web-based interface. The right panel 
					contains references to the other available views, that can be accessed by clicking on the interactive buttons. 
				</p>
			</div> <!--LFET1-->

			<div class="left2 lefttext"> <!--LEFT 2-->
				<br>
				<h2> Active operations </h2>
				<p>
					All the active operations are listed and can be selected from the form to process the dataset. 
					<br> After submission, the page visualizing the executed operation is opened. Some operations 
					<br> might be inactive; therefore, by clicking on “View all operations” in the “Active operations” page, 
					<br> the user will be directed to a page that lists all the operations existent. 
				</p>
			</div> <!--LEFT 2-->

			<div class="left3 lefttext"> <!--LEFT 3-->
				<h2> GFF3 dataset </h2>
				<p>
					The input of the software is the human genome annotation file. <br>
					The visualized table presents the 9 columns characteristic of the GFF3 format, <br> in addition to an initial column for the indexes. 
					Considering the size of the data, only the <br> first ten and the last ten entries are reproduced for better visualization. 
				</p>
			</div> <!--LEFT 3-->

			<div class="left4 lefttext"> <!--LEFT 4-->
				<h2> Project documentation </h2>
				<p>
					The page contains a more in depth description of the software and the algorithms implemented in it. 
					<br> The CRC cards and the UML class diagram are provided for a more efficient explanation.
				</p>
				<p>
					<br> <br> At the end of each page is present a clickable "Home" button, that takes the user to the homepage.
				</p>
			</div> <!--LEFT 4-->

			<div class="right1 righttext"> <!-- RIGHT 1 -->
				<div class="datasetDoc">
					<h1> Exam </h1>
					<p> 
						<br> Advanced programming 2022/2023, second year of Genomics
					</p>
				</div> <!--doc-->
			</div> <!-- RIGHT 1 -->

			<div class="right2 righttext"> <!-- RIGHT 2 -->
				<div class="datasetDoc">
					<h1> Active operations </h1>
					<p> View and execute the available operations. </p>
					<form action = "html_activeoperations.html" target = "_self">
						<button class = 'button' type = 'submit' value = "activeoperations"><b> See operations </b></button>
					</form>
				</div> <!--doc-->
			</div> <!-- RIGHT 2 -->

			<div class="right3 righttext"> <!-- RIGHT 3 -->
				<div class="datasetDoc">
					<h1> GFF3 Dataset </h1>
					<p> General information about the dataset. </p>
					<form action = "html_database.html" target = "_blank">
						<button class = 'button' type = 'submit' value = "database"><b> View data </b></button>
					</form>
				</div> <!--doc-->
			</div> <!-- RIGHT 3 -->

			<div class="right4 righttext"> <!-- RIGHT 4 -->
				<div class="datasetDoc">
					<h1> Project documentation </h1>
					<p> More in depth description. </p>
					<form action = "html_projectdocumentation.html" target = "_self">
						<button class = 'button' type = 'submit' value = "projectdocumentation"><b> Learn more </b></button>
					</form>
				</div> <!--doc-->
			</div> <!-- RIGHT 4 -->

		</div> <!--CONTAINER-->

		
		<p >Group project done by: Gordin Marianna, Petrini Sara, Salvadori Anna, Zhou Aurora.</p>


	</body>


</html>
