<!DOCTYPE HTML>
<html>
	<head>
		<title> Full list operations </title>
		<link rel="stylesheet" type="text/css" href= "{{url_for('static', filename = 'formstyle.css')}}" />
	</head>
	<body>
	<div class = "list">
		<h1> Full list of operations </h1>
		<p>
            <ul>
                <li>info</li>
                <li>seqID</li>
                <li>type_operation</li>
                <li>count_features</li>
                <li>count_entries</li>
                <li>entire_chromosome</li>
                <li>count_supercontigs</li>
                <li>entries_ens_hav_enshav</li>
                <li>count_entries_ens_hav_enshav</li>
                <li>gene_names</li>
            </ul>
        </p>
    </div>

	<p><form action = "html_activeoperations.html" target = "_blank">
		<button class = "button" type = "submit" value = "active_operations" style="margin-left: 45%; margin-right: 45%;"> Back to active operations </button>
	</form></p>
	<p><form action = "/" target = "_self">
		<button class = "button" type = "submit" value = "home" style="margin-left: 47.5%; margin-right: 45%;"> Home </button>
	</form></p>

    </body>
</html>
			