<!DOCTYPE HTML>
<html>

<head> 
    <title> DATASET </title>
    <link rel="stylesheet" type="text/css" href= "{{url_for('static', filename = 'tablestyle.css')}}" />
</head>
<body>
<!-- TABLE -->

<h1> GFF3 Dataset </h1>
<p style="text-align: left;"> The different columns represent: </p>
	<ul>
		<li><b>'seqid'</b>: the unique ID of the current feature</li>
		<li><b>'source'</b>: the software or database name where the feature is derived from (eg. “Genescan”, “Genbank”)</li>
		<li><b>'type'</b>: the type of the feature</li>
		<li><b>'start'</b>: the start coordinate of the feature</li>
		<li><b>'end'</b>: the end coordinate of the feature</li>
		<li><b>'score'</b>: the score of the feature </li>
		<li><b>'strand'</b>: the strand of the feature (+, -, ., ?) </li>
		<li><b>'phase'</b>: the start of the next codon relative to the 5’ end of the current CDS feature (required for all CDS features)</li>
		<li><b>'attributes'</b>: a list of feature attributes in the format tag=value separated by “;”</li>
	</ul>
<p style="text-align: left;"> “.” indicates that the field is undefined. </p>

    <table class="dataframe">
            <tr> 
            <th style="background-color: darkseagreen;">Index</th> 
            {% for i in dataframe %} <!-- table heading -->
                <th style = "background-color:darkseagreen"> {{i}} </th>
            {% endfor %}
            </tr>
        
        {% set indexes = dataframe.index %}

            {% for j in range(11) %} <!-- print the first 5 lines  -->
        <tr>
            <td>{{indexes[j]}}</td>
            {% for i in dataframe %} 
                <td> {{dataframe[i][j]}} </td>
            {% endfor %}
        </tr>
        {% endfor %}

        <tr> 
            <td> ... </td>
            {% for i in dataframe %} <!-- prints the dots -->
                <td> ... </td>
            {% endfor %}
        </tr>

            {% for j in range(-10, 0) %} <!-- prints the last 5 lines  -->
                <tr>
                <td>{{indexes[j]}}</td>
                {% for i in dataframe %} 
                    <td> {{dataframe[i][indexes[j]]}} </td>
                {% endfor %}
                </tr>
            {% endfor %}
        </table> <!-- end dataframe print -->
    </p>


    <p><form action = "/" target = "_self">
			<button class = "button" type = "submit" value = "home" style="margin-left: 47.5%; margin-right: 45%;"> Home </button>
	</form></p>

</body>

</html>