<!DOCTYPE HTML>
<html>
	<head>
		<title> Full list operations </title>
	</head>
	<body>
		<h1> Full list operations </h1>
		<p>
            <ul>
                <li>info</li>
                <li>seqID</li>
                <li>type_operation</li>
                <li>count_features</li>
                <li>count_entries</li>
                <li>entire_chromosome</li>
                <li>count_supercontigs</li>
                <li>entries_ens_hav_enshav</li>
                <li>count_entries_ens_hav_enshav</li>
                <li>gene_names</li>
            </ul>
        </p>

        <p><a href = "/"> Home </a></p>
        <p><a href = "/html_activeoperations.html"> Back to active operations </a></p>

    </body>
</html>
			