<!DOCTYPE HTML>
<html>

<head> 
    <title> DATABASE </title>
    <link rel="stylesheet" type="text/css" href= "{{url_for('static', filename = 'tablestyle.css')}}" />
</head>
<body>
<!-- TABLE -->

<p> The dataframe is <br> 

    <table class="dataframe">
            <tr> 
            <th style="background-color: darkseagreen;">Index</th> 
            {% for i in dataframe %} <!-- table heading -->
                <th style = "background-color:darkseagreen"> {{i}} </th>
            {% endfor %}
            </tr>
        
        {% set indexes = dataframe.index %}

            {% for j in range(11) %} <!-- print the first 5 lines  -->
        <tr>
            <td>{{indexes[j]}}</td>
            {% for i in dataframe %} 
                <td> {{dataframe[i][j]}} </td>
            {% endfor %}
        </tr>
        {% endfor %}

        <tr> 
            <td> ... </td>
            {% for i in dataframe %} <!-- prints the dots -->
                <td> ... </td>
            {% endfor %}
        </tr>

            {% for j in range(-10, 0) %} <!-- prints the last 5 lines  -->
                <tr>
                <td>{{indexes[j]}}</td>
                {% for i in dataframe %} 
                    <td> {{dataframe[i][indexes[j]]}} </td>
                {% endfor %}
                </tr>
            {% endfor %}
        </table> <!-- end dataframe print -->
    </p>


    <p><a href = "/"> Home </a></p>

</body>

</html>