<!DOCTYPE HTML>
<html>
	<head>
		<title> Full list operations </title>
		<link rel="stylesheet" type="text/css" href= "{{url_for('static', filename = 'formstyle.css')}}" />
	</head>
	<body>
	<div class = "list">
		<h1> Full list of operations </h1>
		<p>
            <ul>
                <li> Info: <br> returns the name and the type of each column of the dataset </li> <br> <br>
				<li> Sequence ID: <br> returns the list of unique sequence IDs available in the dataset </li> <br> <br>
				<li> Type Operation: <br> returns the unique types of operations available in the dataset </li> <br> <br>
				<li>Count Features: <br> returns the number of features provided by the same source </li> <br> <br>
				<li>Count Entries: <br> returns the number of entries for each type of operation </li> <br> <br>
				<li>Get Entire Chromosomes: <br> returns a new dataset containing only the information about entire chromosomes (source: GRCh38) </li> <br> <br>
				<li>Count Supercontigs: <br> calculates the fraction of unassembled sequences (supercontigs) over entire chromosomes </li> <br> <br>
				<li>Entries from sources ensembl, havana, and ensembl_havana: <br> returns a new dataset containing entries from the sources ensembl, havana, and ensembl_havana </li> <br> <br>
				<li>Count Entries from ensembl, havana, and ensembl_havana: <br> returns the number of entries for each type of operation in the dataset containing only entries from the sources ensembl, havana, ensembl_havana</li> <br> <br>
				<li>Gene Names: <br> returns the names of genes in the dataset containing only entries from the sources ensembl, havana, ensembl_havana </li> <br> <br>
            </ul>
        </p>
    </div>

	<p><form action = "html_activeoperations.html" target = "_self">
		<button class = "button" type = "submit" value = "active_operations" style="margin-left: 45%; margin-right: 45%;"> Back to active operations </button>
	</form></p>
	<p><form action = "/" target = "_self">
		<button class = "button" onclick="self.close()" type = "submit" value = "home" style="margin-left: 47.5%; margin-right: 45%;"> Home </button>
	</form></p>

    </body>
</html>
			