
<!DOCTYPE HTML>
<html>
	<head>
		<title> Operation </title>
		<link rel="stylesheet" type="text/css" href= "{{url_for('static', filename = 'tablestyle.css')}}" />
	</head>

	<body>
		
		<h1> Executed operation: {{selection}} </h1>
		<p> The selected operation has been executed; below you can see its output. <br>
		
		
		 <!-- dataframe -->
			<p> The new dataframe is <br> 
				{% if out.shape[0] < 20 %}
				<table class="dataframe">
					<tr>
						<th style="background-color: darkseagreen;">Index</th> 
						{% for i in out %} <!-- table heading -->
							<th style="background-color: darkseagreen;"> {{i}} </th>
						{% endfor %}
					</tr>

					{% for j in range(out.shape[0]) %} <!-- prints all lines -->
						<tr>
							<td>{{j}}</td>
							{% for i in out %} 
								<td> {{out[i][j]}}</td>
							{% endfor %}
						</tr>
					{% endfor %}
					
				</table> <!-- end dataframe print -->



				{% else %}
				<table class="dataframe">
					<tr>
						<th style="background-color: darkseagreen;">Index</th> 
						{% for i in out %} <!-- table heading -->
							<th style="background-color: darkseagreen;"> {{i}} </th>
						{% endfor %}
					</tr>

					{% set indexes = out.index %}

					{% for j in range(11) %} <!-- prints the first 5 lines -->
						<tr>
							<td>{{indexes[j]}}</td>
							{% for i in out %} 
								<td> {{out[i][indexes[j]]}} </td>
							{% endfor %}
						</tr>
					{% endfor %}
					<tr> 
						<td> ... </td>
						{% for i in out %} <!-- prints the dots -->
							<td> ... </td>
						{% endfor %}
					</tr>

						{% for j in range(-10, 0) %} <!-- prints the last 5 lines  -->
					<tr>
							<td>{{indexes[j]}}</td>
							{% for i in out %} 
								<td> {{out[i][indexes[j]]}} </td>
							{% endfor %}
					</tr>
						{% endfor %}
				</table> <!-- end dataframe print -->
			{% endif %}
			</p> 

		</p>
	</body>
</html>
